<div class="row" *ngFor="let session of visibleSessions">
<div class="col-md-1">
  <div *ngIf="authService.isAuthenticated()">
  <app-upvote (vote)="toggleVote(session)"
    [count]="session.voters.length"
    [voted]="userHasVoted(session)">
  </app-upvote>
  </div>
</div>
  <div class="col-md-10 pad-me">
    <app-collapsible-well>
      <div well-title>
        {{session.name}}
        <fa-icon *ngIf="session.voters.length > 3"
          [icon]="faFire" style="color: red"></fa-icon>
      </div>

      <div well-body>
      <h6>{{session.presenter}}</h6>
      <span>Duration: {{session.duration | duration}}</span><br />
      <span>Level: {{session.level}}</span>

      <p>{{session.abstract}}</p>
      </div>
    </app-collapsible-well>
  </div>
</div>
