.votingWidgetContainer {
  padding-left: 24px;
  height: 50px;
  width: 27px;
}

.votingWidget {
  height: 64px;
  width: 5px;
  padding-top: 7px;
  border-radius: 21px;
}

.votingButton {
  margin-left: -8px;
  margin-top: 1px;
  cursor: pointer;
}

.badge-inverse {
  background-color: #fff;
  color: #4e5d6c;
}

.votingCount {
  margin-left: -11px;
  margin-top: 1px;
  font-weight: bold;
  font-size: 14px;
}
